# ----------------------------------------------------------------------------------
# .gitattributes для Монорепозитория
# Форсирует правила переноса строк для кросс-платформенной разработки
# ----------------------------------------------------------------------------------

# 1. Текстовые файлы (коды, скрипты, документация)
# Это стандарт для большинства файлов: хранить в Git как LF,
# а Git сам решает, как выдать его пользователю (LF для Linux/Mac, CRLF для Windows)
* text=auto

# 2. Файлы, которые должны быть LF (Linux/Mac)
# Все исполняемые скрипты, которые не должны иметь CRLF, чтобы не ломаться в Linux.
# Наприме, скрипты Gradle для Linux
*.sh      text eol=lf
gradlew   text eol=lf

# 3. Файлы, которые должны быть CRLF (Windows)
# Скрипты, предназначенные только для Windows, форсируются для работы в Windows.
*.bat     text eol=crlf
*.cmd     text eol=crlf

# 4. Бинарные файлы (изображения, архивы) - не трогать
*.png binary
*.jpg binary
*.zip binary
